@tailwind base;
@tailwind components;
@tailwind utilities;

.disable::-webkit-scrollbar {
  opacity: 0;
}
.disable-scroll {
  overflow-y: hidden;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-plus;
  }
  p,
  a,
  li {
    @apply font-questrial;
    /* @apply text-textColor; */
  }
}
.calendarClass {
  @apply z-30;
}

.active-tab {
  @apply text-highlight border-b border-highlight font-medium;
}
.react-datepicker {
  height: 100%;
  background-color: #fff;
  color: #222;
  border: none !important;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-datepicker * {
  border: none !important;
}
.react-datepicker__current-month {
  color: #2579a9 !important;
}
.react-datepicker__day-names {
  max-width: 600px;
  width: 100% !important;
}
.full-display .react-datepicker__day-name,
.full-display .react-datepicker__day {
  width: 50px !important;
}
.react-datepicker__navigation--next--with-time:not(
    .react-datepicker__navigation--next--with-today-button
  ) {
  width: 120px !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  padding: 5px 20px !important;
}
.react-datepicker__header,
.react-datepicker-time__header {
  background-color: #fff !important;
  color: #2579a9 !important;
}
.react-datepicker__time-container {
  width: 120px !important;
  border-left: 1px solid #2579a9 !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 120px !important;
}
